// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


// .alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
// }

// @each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
// }


// .swatch-100{ background: $gray-100; }
// .swatch-200{ background: $gray-200; }
// .swatch-300{ background: $gray-300; }
// .swatch-400{ background: $gray-400; }
// .swatch-500{ background: $gray-500; }
// .swatch-600{ background: $gray-600; }
// .swatch-700{ background: $gray-700; }
// .swatch-800{ background: $gray-800; }
// .swatch-900{ background: $gray-900; }

html {
	font-size: 15px;
}


.timeline {
	list-style: none;
	padding-left: 15px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-left: 1px solid $primary;

	&-header,
	&-event {
		position: relative;
		margin: .5rem 0;

		&:before {
			content: " ";
			position: absolute;
			top: 50%;
			left: -21px;
			width: 11px;
			height: 11px;
			transform: translateY(-50%);
			border: 2px solid $primary;
			border-radius: 11px;
			background: $white;
		}
	}

	&-event {
		&:before {
			left: -19px;
			width: 7px;
			height: 7px;
			border: none;
			background: $primary;
		}	
	}
}

.rise-arrow {
	position: relative;
	text-align: center;
	height: 2.33rem;
	width: 14.66rem;
	
	&:before {
	  content: " ";
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 51%;
	  background: $red;
	  transform: skew(0deg, -20deg);
	}

	&:after {
	  content: " ";
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 100%;
	  width: 50%;
	  background: $red;
	  transform: skew(0deg, 20deg);
	}
}

.nav--branded {
	border-bottom: 1px solid $light;
	
	.nav-item {
		margin-bottom: -1px;
	}

	.nav-link {
		color: $black;
		border-bottom: 1px solid transparent;
		
		&.active {
			color: $red;
			border-bottom-color: $red;
		}

		&:hover {
			border-bottom-color: $black;
		}
	}
}

.nav--branded.flex-column {
	border-bottom: 0 none;
	border-left: 1px solid $light;

	.nav-item {
		margin-bottom: 0;
		margin-left: -1px;
	}

	.nav-link {
		border-left: 1px solid transparent;
		border-bottom: 0 none;

		&.active {
			border-bottom: 0 none;
			border-left-color: $red;
		}

		&:hover {
			border-left-color: $black;
		}
	}
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .nav--branded.flex#{$infix}-column { 
		border-bottom: 0 none;
		border-left: 1px solid $light;

		.nav-item {
			margin-bottom: 0;
			margin-left: -1px;
		}

		.nav-link {
			border-left: 1px solid transparent;
			border-bottom: 0 none;

			&.active {
				border-bottom: 0 none;
				border-left-color: $red;
			}

			&:hover {
				border-left-color: $black;
			}
		}	
    }
  }
}


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .nav--branded.flex-column.flex#{$infix}-row { 
		border-left: 0 none;
		border-bottom: 1px solid $light;

		.nav-item {
			margin-bottom: -1px;
			margin-left: 0;
		}

		.nav-link {
			border-bottom: 1px solid transparent;
			border-left: 0 none;

			&.active {
				border-bottom-color: $red;
				border-left: 0 none;
			}

			&:hover {
				border-bottom-color: $black;
			}
		}	
    }
  }
}

.nav-pills .nav-link {
	border-radius: 0;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
	background: none;
	position: relative;

	&:before {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: theme-color-level(secondary,-8);
		border-radius: .25rem .25rem 0 0;
	}
}

.flex-column.nav-pills .nav-link.active, 
.flex-column.nav-pills .show>.nav-link {
	&:before {
		left: 10px;
		width: calc(100% - 10px);
		border-radius: .25rem;
	}
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .flex-column.nav-pills.flex#{$infix}-row .nav-link.active,
    .flex-column.nav-pills.flex#{$infix}-row .show>.nav-link { 
		&:before {
			@include media-breakpoint-up(sm) {
				left: 0;
				width: 100%;
				border-radius: .25rem .25rem 0 0;
			}
		}
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .nav-pills.flex#{$infix}-column .nav-link.active,
    .nav-pills.flex#{$infix}-column .show>.nav-link { 
		&:before {
			@include media-breakpoint-up(sm) {
				left: 10px;
				width: calc(100% - 10px);
				border-radius: .25rem;
			}
		}
    }
  }
}