// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
// $enable-gradients: true;

// Changing the body background and text
// $body-bg: #d3e9eb;
// $body-color: #151417;

// Changing the border radius of buttons
// $border-radius: 15px;

// Changing the theme colors
// $primary: #202f41;
// $secondary: #436296;
// $success: #2bc550;
// $info: #495dff;
// $warning: #ef8143;
// $danger: #ff293a;
// $light: #dfe6ee;
// $dark: #0f1319;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
// $theme-colors: (
//  "cool": #4d3fa3
// );

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;



$red: #d22030;
$cinnabar: #e64b36;
$secondary-red: $cinnabar;
$sea-green: #82cec9;
$periwinkle: #92a1cd;
$golden-yellow: #fdbf56;
$iris: #5b4c93;
$azure: #2ca5da;
$beige: #d8d2c4;
$cool-gray: #55565a; //cool gray 11
$medium-gray: #a9aba9; //medium gray / cool gray 6
$light-gray: #bec6c3; //light gray / Pantone 441
$green: #54B500;

$primary:       $red;
$secondary:     $light-gray;
$success:       $green;
$info:          $sea-green;
$danger:        $secondary-red;
$warning:       $golden-yellow;
$light:         $beige;
$dark:          $cool-gray; 

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);




