.footer-metaphor {
    margin-top: 5rem;
    font-size: 1.3rem;

    @include media-breakpoint-down(sm){
        text-align: center;
    }

    a {
        color: $cool-gray;
    }

    &__emblem {
        width: 7.2rem;
        height: 7.2rem;

        @include media-breakpoint-down(sm){
            width: 10rem;
        }
    }

    &__logo {
        width: 10rem;

        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
}
