@font-face {
  	font-family: FSLola;
  	src: 
  		url('//s3-us-west-2.amazonaws.com/metalab-fonts/FSLolaWeb-Bold.woff2') format('woff2'), 
    	url('//s3-us-west-2.amazonaws.com/metalab-fonts/FSLolaWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-Regular.woff2') format('woff2'), 
    	url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-RegularItalic.woff2') format('woff2'), 
    	url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
  font-display: swap;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-Bold.woff2') format('woff2'), 
    	url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-BoldItalic.woff2') format('woff2'), 
    	url('//s3-us-west-2.amazonaws.com/metalab-fonts/ATCOverlook-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
  font-display: swap;
}