//overriding an override
.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);	
}

//necessary for datepicker plugin
.form-group {
	position: relative;
}