html {
	font-size: 62.5%;
}

// a {
// 	text-decoration: underline;
// }

.font-display {
	font-family: $font-family-display;
}

.hr-metaphor {
	border-top: 7px solid $primary; 
}

.text-underline {
	text-decoration: underline;
}