.rise-arrow {
	position: relative;
	text-align: center;
	height: 2.33rem;
	width: 14.66rem;
	
	&:before {
	  content: " ";
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 51%;
	  background: $red;
	  transform: skew(0deg, -20deg);
	}

	&:after {
	  content: " ";
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 100%;
	  width: 50%;
	  background: $red;
	  transform: skew(0deg, 20deg);
	}
}