@font-face {
  	font-family: FSLola;
  	src: 
  		url('../fonts/FSLolaWeb-Bold.woff2') format('woff2'), 
    	url('../fonts/FSLolaWeb-Bold.woff') format('woff');
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-Thin.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
} 

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-ThinItalic.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-ExtraLight.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
} 

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-ExtraLightItalic.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
} 

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-Light.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
} 

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-LightItalic.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
} 

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-Regular.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-RegularItalic.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-Medium.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-MediumItalic.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-Bold.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-BoldItalic.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-Heavy.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
  	font-family: ATCOverlook;
  	src: 
  		url('../fonts/ATCOverlook-HeavyItalic.woff2') format('woff2'), 
    	url('../fonts/ATCOverlook-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}